* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-body: #e5e5e5;
  --card-color1: #e1e1e6;
  --card-color2: #02799d;

  --tt-color: #323238;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-body);
  color: var(--tt-color);
  display:flex;
  justify-items: center;
  min-height: 100vh;
}

main {
  max-width: 82.1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
  background-color: #ffffff;

  margin: auto;
  border-radius: 3rem;
  padding: 5rem 3rem 7rem;
}

.hide {
  display: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 300ms;
}

#clock {
  margin: auto;
}

#timer {
  display: flex;
  font-size: 12.6rem;
  line-height: 14.8rem;

  margin-bottom: 1.7rem;

}

#controls {
  display: flex;
  gap: 4rem;
}

#controls button:hover {
  transform: scale(1.1);

}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 3.2rem;
  
}

#cards button {
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 2.4rem;

  width: 13.8rem;
  height: 15.2rem;
  background-color: var(--card-color1);
  
}

#cards button:hover   {
  background-color: var(--card-color2);
  transform: scale(1.1);

}

#cards button:hover svg path {
  fill:#ffffff
}





